/* styles.css */

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #007bff;
    color: white;
    
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

.logo img {
    height: 80px;
    padding-inline-end: 20px;
   
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #cccccc;
    text-decoration: none;
    font-size: 16px;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    padding: 0px 30px 0px 60px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

.hero-image img {
    height: 600px;
}


.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #f8f9fa;
}

.features .feature {
    text-align: center;
}

.features .feature img {
    height: 50px;
    margin-bottom: 10px;
}

.client_img1{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 300px;
    width: auto;

    margin-bottom: 10px;    
}


.pic-ctn {
    
    height: 200px;
    position: relative;
    margin-top: 15vh;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
 
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }


.products {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.products h2 {
    text-align: center;
    margin-bottom: 40px;
}

.product-line {
    display: flex;
    justify-content: space-around;
}

.product {
    text-align: center;
    max-width: 30%;
}

.product img {
    height: 200px;
    margin-bottom: 10px;
}

.product button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

.tips {
    display:block;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    background-color: #ffffff;
}

.tips h2 {
    text-align: center;
    margin-bottom: 40px;
}

.tips .tip {
    text-align: center;
    max-width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

.tips img {
    height: 150px;
    margin-bottom: 10px;
}

.contact {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 40px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.contact button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #66ccff;
    color: white;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.footer-content .footer-logo img {
    height: 100px;
}

.footer-content .footer-map img {
    height: 150px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    
    header {
        background-color: #f8f9fa;
        padding: 20px;
    }
    
    nav .logo img {
        height: 60px;
    }
    
    nav .nav-links {
        flex-direction: column;
        align-items: start;
    }
    
    nav .nav-links li {
        margin-bottom: 10px;
    }
    
    nav .nav-links a {
        font-size: 14px;
    }
    
    header .search-bar input {
        width: 100%;
    }
    
    header .search-bar button {
        margin-left: 0;
    }
    
    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    footer .footer-content .footer-logo img {
        height: 80px;
    }
    
    footer .footer-content .footer-map img {
        height: 120px;
    }
    
    footer .footer-bottom {
        text-align: left;
    }
    
    /* Hero */
    header .hero {
        padding: 0px 30px;
    }
    
    header .hero-text {
        max-width: 100%;
    }
    
    header .hero-image img {
        height: 300px;
    }
    
    /* Features */
    .features {
        flex-direction: column;
        align-items: center;
    }
    
    /* Products */
    .products {
        flex-direction: column;
        align-items: center;
    }
    
    /* Tips */
    .tips {
        flex-direction: column;
        align-items: center;
    }
    
    /* Contact */
    .contact {
        flex-direction: column;
        align-items: center;
    }
}
    














